  <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <%= link_to "App Funcionários", root_path, class: "navbar-brand text-white" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Funcionários', funcionarios_path, class:"nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Cargos", cargos_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Dependentes", dependentes_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Responsabilidades", responsabilidades_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Relatórios", relatorio_path, class: "nav-link text-white" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br>


<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Funcionarios</h1>

<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Telefone</th>
      <th>Documento</th>
      <th>Salario</th>
      <th>Responsabilidades</th>
      <th>Cargo</th>
      <th>Dependentes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.endereco %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.documento %></td>
        <td><%= funcionario.salario %></td>
        <% if funcionario.funcionario_responsabilidades.any? %>
        <td>
          
         <% funcionario.responsabilidades.each do |responsabilidades| %>

         <%= responsabilidades.nome %>

         <%end%>

        </td>

        <% else %>

          <td></td>

        <% end %>


        <td><%= funcionario.cargo&.nome %></td>
        <% if funcionario.dependentes.any?  %>
        <td>
          
          <% funcionario.dependentes.each do |dependente| %>

          <%= dependente.nome %>
        
        <% end %>
        </td>

          <% else %>

          <td></td>

        <% end %>

        <td><%= link_to 'Show', funcionario , class: "btn btn-info btn-s" %></td>
        <td><%= link_to 'Edit', edit_funcionario_path(funcionario), class: "btn btn-warning btn-s" %></td>
        <td><%= link_to 'Destroy', funcionario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-s" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionario', new_funcionario_path, class: "btn btn-primary btn-s pull-right" %>

</div>
</div>